$family:'Open Sans';
$logo: 'Pacifico';
@each $font-face in $family, $logo {
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: url('../fonts/#{$font-face}.eot');
    src: url('../fonts/#{$font-face}.eot?') format('eot'),
         url('../fonts/#{$font-face}.woff') format('woff'),
         url('../fonts/#{$font-face}.ttf')  format('truetype'),
         url('../fonts/#{$font-face}.svg##{$family}') format('svg');
  }
}
